# This is a POSIX shell fragment                -*- sh -*-

# OVN_CTL_OPTS: Extra options to pass to ovs-ctl.  This is, for example,
# a suitable place to specify --ovn-northd-wrapper=valgrind.
# OVN_CTL_OPTS=
OVN_CTL_OPTS=" \
     --db-nb-addr=10.30.10.3 \
--db-nb-cluster-remote-addr=10.30.10.2 \
--db-nb-create-insecure-remote=yes \
--db-sb-addr=10.30.10.3 \
--db-sb-cluster-remote-addr=10.30.10.2 \
--db-sb-create-insecure-remote=yes \
--db-nb-cluster-local-addr=10.30.10.3 \
--db-sb-cluster-local-addr=10.30.10.3 \
--ovn-northd-nb-db=tcp:10.30.10.2:6641,tcp:10.30.10.3:6641,tcp:10.30.10.4:6641 \
--ovn-northd-sb-db=tcp:10.30.10.2:6642,tcp:10.30.10.3:6642,tcp:10.30.10.4:6642"
